button.generic-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: .5em;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: .5s;
    font-family: "Times New Roman", Times, serif;
    width: 99%;
}
button.generic-accordion.active,
button.generic-accordion:hover {
    background-color: skyblue;
}
button.generic-accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.generic-accordion.active:after {
    content: "\2212";
}
div.accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-out;
}
a.button-type {
    padding: .5em;
    margin: .5em;
    border: .01px solid grey;
    text-decoration: none;
    width: auto;
    text-align: center;
    display: block;
    clear: both;
}
a.active {
    background-color: aliceblue;
}
a.button-type:before {
    font-weight: bold;
    color: black;
    margin-right: .5em;
}
a.button-type.expand:before {
    content: '\002B';
}
a.button-type.collapse:before {
    content: "\2212";
}
.fancy {
    font-family: cursive;
    font-size: 1.5em;
    font-weight: lighter;
    color: brown;
    text-align: center;
}
@media only screen and (min-width: 769px) {
    .fancy {
        float: left;
        text-align: left;
    }
    a.button-type {
        float: right;
        width: auto;
        display: inline;
        clear: none;
    }
}
