.main-content {
    width: 99%;
}
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: .5em;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2em;
    transition: 0.4s;
    font-family: "Times New Roman", Times, serif;
    width: 99%;
}
button.accordion.active,
button.accordion:hover {
    background-color: skyblue;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
div.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
button.tab {
    display: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (min-width: 769px) {
    button.tab {
        background-color: #eef;
        color: #445;
        cursor: pointer;
        padding: .1em;
        border: none;
        text-align: center;
        outline: inherit;
        font-size: 2em;
        transition: 0.4s;
        font-family: "Times New Roman", Times, serif;
        width: 49%;
        float: left;
        display: block;
    }
    button.tab.active,
    button.tab:hover {
        background-color: skyblue;
    }
    button.accordion {
        display: none;
    }
    button.accordion:after {
        content: none;
    }
    button.accordion.active:after {
        content: none;
    }
    div.panel {
        display: none;
        max-height: inherit;
        overflow: auto;
        float: left;
    }
    .main-content {
        width: 99%;
    }
}
